body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40;
    color: white;
    padding: 10px 20px;
}

.header h1 {
    margin: 0;
}

.logo {
    width: 100px;
    height: auto;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: white;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #ffffff;
}

#menu, #pedido {
    margin-bottom: 30px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.menu-img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 4px;
}

button {
    padding: 8px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#pedido p {
    text-align: center; /* Centrar el texto del total */
    font-size: 2em; /* Hacer la letra más grande */
    font-weight: bold; /* Hacer el texto en negrita */
}
